
{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Q.{{ idq }} : {{ texte }}</h2> 
  
  
  
  {# if question.idq is defined #}
		
	<table>	
	<tr>	
	
	    <td  style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-primary">	A : <br>{{ question.rep1 }} </td>
	    <td style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-success">	B : <br>{{ question.rep2 }} </td>
	</tr>
	<tr>	
	
	    <td style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-warning">	C : <br>{{ question.rep3 }} </td>
	    <td style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-danger">	D : <br>{{ question.rep4 }} </td>
	</tr>		
			
	</table>
		
	  

		{# endif #}
		{#
<?php
  var newYear = new Date(); 
newYear = new Date(newYear.getFullYear() + 1, 1 - 1, 1); 
$('#defaultCountdown').countdown({until: $date}); 
 
$('#removeCountdown').click(function() { 
    var destroy = $(this).text() === 'Remove'; 
    $(this).text(destroy ? 'Re-attach' : 'Remove'); 
    $('#defaultCountdown').countdown(destroy ? 'destroy' : {until: $date}); 
});

?>
 
  #}<br><br><div align="right">

<a href="{{ path('oc_quizlaunch_score', {'id': id, 'gamepin' : gamepin, 'idq': idq}) }}" class="btn btn-default btn-lg">Scores   <i class="glyphicon glyphicon-chevron-right"></i></a>
</div>


{% endblock %}
