{# src/templates/OCQuizgen/form.html.twig #}

<h3>Formulaire de création de Quiz </h3>

<div class="well">

	{# Overture de la balise <form> du formulaire HTML #}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

	
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<h4 class="simili-form">Autor : <i>{{ app.user.username }}</i></h4>
		<br/>
	{% else %}
		<h4 class="simili-form">Autor : <i>Anonyme</i></h4>
		<br/>
    {% endif %}
	{# Génération du label + error + widget pour un champ #}
	{{ form_row(form.nom) }}
	{{ form_row(form.category) }}
	{{ form_row(form.access) }}
	
	
	<h3>Questions</h3>
	
    <ul class="QCMs" " data-prototype="
       {% filter escape %}
            {{ include('OCQuizgen/Form/QCMs.html.twig', { 'form': form.QCMs.vars.prototype }) }}
        {% endfilter %}
   ">
		{% for QCM in form.QCMs %}
		<li>
			{{ form_row(QCM.question) }}
			<table>
			<tr> <td>{{ form_row(QCM.temps)}}</td></tr>
			<tr>
				<td>{{ form_row(QCM.rep1) }}</td>
				<td>{{ form_row(QCM.juste1) }}</td>
			</tr>
			
			<tr>
				<td>{{ form_row(QCM.rep2) }}</td>
				<td>{{ form_row(QCM.juste2) }}</td>
			</tr>
			
			<tr>
				<td>{{ form_row(QCM.rep3) }}</td>
				<td>{{ form_row(QCM.juste3) }}</td>
			</tr>
			
			<tr>
				<td>{{ form_row(QCM.rep4) }}</td>
				<td>{{ form_row(QCM.juste4) }}</td>
			</tr>
			
			</table>
		</li>
		{% endfor %}
    </ul>
	
	{% do form.QCMs.setRendered %}

	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
	{{ form_widget(form.save) }}

	{# Génération automatique des champs pas encore écrits.#}
	{{ form_rest(form) }}

	{# Fermeture de la balise <form> du formulaire HTML #}
	{{ form_end(form) }}
	
	
</div>

