{# src/templates/OCQuizgen/list.html.twig #}

{% extends "OCQuizgen/layout.html.twig" %}

{% block title %}
  Quiz list - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Quiz List</h2>

  <ul>
    {% for quiz in listQuizs %}
      <li>
        <a href="{{ path('oc_quizgen_view', {'id': quiz.id}) }}">
          {{ quiz.nom }}
        </a>
		{% set idauteur=quiz.author %}
        par {{ listNoms[idauteur] }},
		
        le {{ quiz.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>No Quiz yet.</li>
    {% endfor %}
  </ul>

{% endblock %}