{# src/templates/OCQuizGen/mylist.html.twig #}

{% extends "OCQuizgen/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Liste des quiz de {{ auteur }}</h2>

  <ul>
    {% for quiz in listQuizs %}
      <li>
        <a href="{{ path('oc_quizgen_view', {'id': quiz.id}) }}">
          {{ quiz.nom }}
        </a>
		
        le {{ quiz.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de quiz.</li>
    {% endfor %}
  </ul>

{% endblock %}