{# src/templates/OCQuizgen/view.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  Available Quiz - {{ parent() }}
{% endblock %}

{% block body %}

 
  <h2>{{ quiz.nom }}</h2>
  <i>Par {{ auteur }}, le {{ quiz.date|date('d/m/Y') }}. Quiz {{ quiz.access }}</i>

  <div class="well">
    <ul>
	  {% for QCM in quiz.QCMs %}
		<li>{{ QCM.question }}</li>
		<ul>
			<li>PROPOSITION 1 ({% if QCM.juste1 %}juste{% else %}fausse{% endif %}) : {{QCM.rep1}}</li>
			<li>PROPOSITION 2 ({% if QCM.juste2 %}juste{% else %}fausse{% endif %}) : {{QCM.rep2}}</li>
			<li>PROPOSITION 3 ({% if QCM.juste3 %}juste{% else %}fausse{% endif %}) : {{QCM.rep3}}</li>
			<li>PROPOSITION 4 ({% if QCM.juste4 %}juste{% else %}fausse{% endif %}) : {{QCM.rep4}}</li>
			<li>Temps de réponse : {{ QCM.temps }} secondes</li>
		</ul>
		
	  {% else %}
		<li>No questions yet.</li>
	  {% endfor %}
	</ul>
  </div>
  
   <p>
    <a class="btn btn-secondary" href="{{ path('oc_quizgen_list') }}">
      Back to the list
    </a>
    <a class="btn btn-primary" href="{{ path('oc_launch_pick', {'id': quiz.id}) }}" >
      Launch quiz!
    </a>
    <a href="{{ path('oc_quizgen_edit', {'id': quiz.id}) }}" class="btn btn-warning">
      Modify quiz
    </a>
	<a href="{{ path('oc_quizgen_duplicate', {'id': quiz.id}) }}" class="btn btn-info">
      Duplicate quiz
    </a>
    {% if user == auteur %}
    <a href="{{ path('oc_quizgen_delete', {'id': quiz.id}) }}" class="btn btn-danger">
      Delete quiz
    </a>
    {% endif %}
  </p>

{% endblock %}
