{% extends "JulTestBundle::layout.html.twig" %}

{% block title %}
  Suppression d'une annonce - {{ parent() }}
{% endblock %}

{% block jultest_body %}

  <h2>Supprimer une annonce</h2>

  <p>
    Voulez vous vraiment supprimer l'annonce "{{ advert.title }}" ?
  </p>
  <form action="{{ path('jul_platform_delete', {'id': advert.id}) }}" method="post">
    <a href="{{ path('jul_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
  
{% endblock %}