{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

    <label for="email">{{ 'registration.register.email'| trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="email" name="_email" value=""{{ form.vars.value.email }}"" required="required" /><br><br>
    
    <label for="username">{{ 'registration.register.username'| trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ form.vars.value.username }}" required="required" /><br><br>
    
    {{ form_errors(form.plainPassword.first) }}
    <label for="fos_user_registration_form_plainPassword_first">Mot de Passe</label>
    <input id="fos_user_registration_form_plainPassword_first" type="password" required="required" name="fos_user_registration_form[plainPassword][first]"/><br><br>

    <label for="fos_user_registration_form_plainPassword_second">Vérification</label>
    <input id="fos_user_registration_form_plainPassword_second" type="password" required="required" name="fos_user_registration_form[plainPassword][second]"/><br><br>

    {{ form_widget(form._token) }}
    
   {#  ->add('email', 'email', array('label' => 'form.email', 'translation_domain' => 'FOSUserBundle'))
            ->add('username', null, array('label' => 'form.username', 'translation_domain' => 'FOSUserBundle'))
            ->add('plainPassword', 'repeated', array(
                'type' => 'password',
                'options' => array('translation_domain' => 'FOSUserBundle'),
                'first_options' => array('label' => 'form.password'),
                'second_options' => array('label' => 'form.password_confirmation'),
                'invalid_message' => 'fos_user.password.mismatch',
            ))
    #}
    
    
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class=" btn btn-primary" />
    </div>
</form>