<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}OpenCahutte create your quiz online{% endblock %}</title>
  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  {% endblock %}
 
</head>
<body>
  <div class="container">
    <div id="header" class="jumbotron">
	
	  <a href="{{path('oc_quizgen_homepage')}}"><img src="{{ asset('img/logo.png') }}" alt="logo"/></a>
	  <br/><br/>
      <p>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<a class="btn btn-primary btn-lg" href="{{ path('app_logout') }}">Logout</a> -
	Connected as {{ app.user.username }} - 
      {% else %}
	<a class="btn btn-primary btn-lg" href="{{ path('app_login') }}">
          Connectez-vous »
        </a><br/>
		<div><a href="{{ path('oc_register') }}" class="btn btn-success btn-xs">Inscription</a></div>
      {% endif %}
      </p>
    </div>
    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Quizs</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('oc_quizdis_select') }}">Participer à un quiz</a></li>
          <li><a href="{{ path('oc_quizgen_list') }}">Liste des quiz publics</a></li>
		  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li><a href="{{ path('oc_quizgen_mylist') }}">Mes quiz</a></li>
		  {% endif %}
          <li><a href="{{ path('oc_quizgen_add') }}">Ajouter un quiz</a></li>
        </ul>
      </div>
      <div id="content" class="col-md-9">
        {% block body %}

        {% endblock %}
      </div>
    </div>
    <hr>
    <footer>
      <p>OpenCahutte: manage your quiz online with free software</p>
    </footer>
  </div>
  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}
  {% block customPageScripts %}
  {% endblock %}
</body>
</html> 
