{# src/templates/templates/QuizDis/layout.html.twig #}

{% extends "OCQuizDis/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

{# Overture de la balise <form> du formulaire HTML #}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(form) }}
{{ form_errors(form.pseudojoueur) }}
  <h3>Pseudo</h3>

		<table>
		
		<tr>
			<td>{{ form_widget(form.pseudojoueur) }}</td>
		</tr>
		
		<tr>
			<td>{{ form_widget(form.save) }}</td>
		</tr>
		
		</table>
		
		  <p>
		  
{# Génération automatique des champs pas encore écrits.#}
{{ form_rest(form) }}
		  
{# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}


{% endblock %}