{# src/OC/QuizgenBundle/Resources/views/Default/form.html.twig #}

<h3>Formulaire de création de Quiz </h3>

<div class="well">
	{# Thème personalisé pour obtenir un meilleur rendu des champs (dans Ressources/views/Form/fields.html.twig) #}
	{% form_theme form 'OCQuizgenBundle:Form:fields.html.twig' %}

	{# Overture de la balise <form> du formulaire HTML #}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

	{# Génération du label + error + widget pour un champ #}
	{{ form_row(form.nom, {'label': 'Titre du quiz'} ) }}
	{{ form_row(form.category, {'label': 'Catégorie du quiz'} ) }}
	{{ form_row(form.date, {'label': 'Date de création'} ) }}
	{{ form_row(form.author, {'label': 'Auteur'} ) }} 
	{{ form_row(form.type, {'label': 'Type de quiz'} ) }}
	{{ form_row(form.nbQuestions, {'label': 'Nombre de Questions'} ) }}

	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
	{{ form_widget(form.save, {'label':'Créer', 'attr': {'class': 'btn btn-primary'}}) }}

	{# Génération automatique des champs pas encore écrits.#}
	{{ form_rest(form) }}

	{# Fermeture de la balise <form> du formulaire HTML #}
	{{ form_end(form) }}
</div>