{# src/OC/QuizgenBundle/Resources/views/Default/index.html.twig #}

{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquiz_body %}

  <h2>Liste des quizs</h2>

  <ul>
    {% for quiz in listQuizs %}
      <li>
        <a href="{{ path('oc_quizgen_view', {'id': quiz.id}) }}">
          {{ quiz.title }}
        </a>
        par {{ quiz.author }},
        le {{ quiz.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de quizs.</li>
    {% endfor %}
  </ul>

{% endblock %}