{# src/OC/QuizgenBundle/Resources/views/Default/view.html.twig #}

{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Quizs disponibles - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

 
  <h2>{{ quiz.nom }}</h2>
  <i>Par {{ auteur }}, le {{ quiz.date|date('d/m/Y') }}. Quiz {{ quiz.acces }}</i>

  <div class="well">
    <ul>
	  {% for QCM in quiz.QCMs %}
		<li>{{ QCM.question }}</li>
		<ul>
			<li>PROPOSITION 1 ({% if QCM.juste1 %}juste{% else %}fausse{% endif %}) : {{QCM.rep1}}</li>
			<li>PROPOSITION 2 ({% if QCM.juste2 %}juste{% else %}fausse{% endif %}) : {{QCM.rep2}}</li>
			<li>PROPOSITION 3 ({% if QCM.juste3 %}juste{% else %}fausse{% endif %}) : {{QCM.rep3}}</li>
			<li>PROPOSITION 4 ({% if QCM.juste4 %}juste{% else %}fausse{% endif %}) : {{QCM.rep4}}</li>
			<li>Temps de réponse : {{ QCM.temps }} secondes</li>
		</ul>
		
	  {% else %}
		<li>Pas de questions trouvées.</li>
	  {% endfor %}
	</ul>
  </div>
  
   <p>
    <a href="{{ path('oc_quizgen_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_quizlaunch_pick', {'id': quiz.id}) }}" class="btn btn-success">
      <i class="glyphicon glyphicon-play-circle"></i>
      Lancer le quiz !
    </a>
    <a href="{{ path('oc_quizgen_edit', {'id': quiz.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le quiz
    </a>
	<a href="{{ path('oc_quizgen_duplicate', {'id': quiz.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-duplicate"></i>
      Dupliquer le quiz
    </a>
    <a href="{{ path('oc_quizgen_delete', {'id': quiz.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le quiz
    </a>
  </p>

{% endblock %}
