{# src/OC/QuizgenBundle/Resources/views/Default/view.html.twig #}

{% extends "OCQuizgenBundle::layout.html.twig" %}

{% block title %}
  Quizs disponibles - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

 
  <h2>{{ quiz.nom }}</h2>
  <i>Par {{ quiz.author }}, le {{ quiz.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ quiz.type }}
  </div>
  
   <p>
    <a href="{{ path('oc_quizgen_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_quizgen_edit', {'id': quiz.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_quizgen_delete', {'id': quiz.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>

{% endblock %}