{% for i in 0..3 %}
	{{ form_errors(form[i]) }}
{% endfor %}
<table>
	{% for j in 0..1 %}
		<tr>
			{% for i in [ 2*j , 2*j+1 ] %}
				<td>
					{{ form_start(form[i]) }}
					{{ form_widget(form[i].save) }}
					{{ form_rest(form[i]) }}
					{{ form_end(form[i]) }}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>