{# src/OC/QuizgenBundle/Resources/views/Default/view.html.twig #}

{% extends "OCQuizdisBundle::layout.html.twig" %}

{% block title %}
  Quiz disponibles - {{ parent() }}
{% endblock %}

{% block ocquizdis_body %}

 
  <h2>{{ quiz.nom }}</h2>
  <i>Par {{ quiz.author }}, le {{ quiz.date|date('d/m/Y') }}</i>

  <div class="well">
		{{ include("OCQuizdisBundle:Default:form.html.twig") }}
  </div>

{% endblock %}