{# src/OC/QuizgenBundle/Resources/views/Default/view.html.twig #}

{% extends "OCQuizdisBundle::layout.html.twig" %}

{% block title %}
  Quiz disponibles - {{ parent() }}
{% endblock %}

{% block ocquizdis_body %}

 
  <h2>{{ quiz.nom }}</h2>
  <i>Par {{ quiz.author }}, le {{ quiz.date|date('d/m/Y') }}</i>

  <div class="well">
    <ul>
	  {% if quiz.QCMs[q] is defined %}
		{% set QCM = quiz.QCMs[q] %}
		<ul>
			{{ include("OCQuizdisBundle:Default:form.html.twig") }}
		</ul>
	  {% else %}
		<li>Pas de réponses trouvées.</li>
	  {% endif %}
	</ul>
  </div>

{% endblock %}