{% trans_default_domain 'FOSUserBundle' %}
   

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
   {#
 {{ form_widget(form) }} #}
  
  {{ form_errors(form.current_password) }}
  
  <table>
  <tr>
    <td width="200px"><label for="fos_user_change_password_form_current_password">{{ 'form.current_password'|trans({}, 'FOSUserBundle') }}</label></td>
    <td width="200px" height="40px"><input id="fos_user_change_password_form_current_password" type="password" name="fos_user_change_password_form[current_password]" required="required" /></td><br><br>
   </tr> 	
   
   {{ form_errors(form.plainPassword.first) }}
   <tr>
    <td width="200px"><label for="fos_user_change_password_form_plainPassword_first">{{ 'form.new_password'|trans({}, 'FOSUserBundle') }}</label></td>
    <td width="200px" height="40px"><input id="fos_user_change_password_form_plainPassword_first" type="password" name="fos_user_change_password_form[plainPassword][first]" required="required" /></td><br><br>
   </tr> 	 	 
        
   {{ form_errors(form.plainPassword.second) }}
   <tr>
    <td width="200px"><label for="fos_user_change_password_form_plainPassword_second">{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}</label></td>
    <td width="200px" height="40px"><input id="fos_user_change_password_form_plainPassword_second" type="password" name="fos_user_change_password_form[plainPassword][second]" required="required" /></td><br><br>
   </tr> 
   
    </table>
    {{ form_widget(form._token) }}
   
    <div>
        <input type="submit" class=" btn btn-danger" 	value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
