{# src/templates/OCQuizLaunch/index.html.twig #}
{% extends "OCQuizgen/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocquizgen_body %}

  <h2>Choisissez un quiz à lancer !</h2>

  <ul>
    {% for quiz in listQuizs %}
      <li>
        <a href="{{ path('oc_quizlaunch_pick', {'id': quiz.id}) }}">
          {{ quiz.nom }}
        </a>
        par {{ quiz.author }},
        le {{ quiz.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de quiz.</li>
    {% endfor %}
  </ul>

{% endblock %}