
{% extends "layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{%  block navigation %}
{% endblock %}
 
{% block body %}
<table style="width: 810px">

	<tr>
	
		<td>  <h2>Gamepin: {{ gamepin.pinNumber }} </h2></td>
		<td>  <h2>Q.{{ idq }} : {{ texte }} </h2></td>
	</tr>
</table>
			
  <div class="container">
    <h2>Countdown</h2>
    <div class="timer timer0 alert alert-primary" data-minutes-left="{{tempsrep/60.0}}"></div>
</div>
		
	<table>	
	<tr>	
	
	    <td style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-primary">	A : <br>{{ question.rep1 }} </td>
	    <td style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-success">	B : <br>{{ question.rep2 }} </td>
	</tr>
	<tr>	
	
	    <td style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-warning">	C : <br>{{ question.rep3 }} </td>
	    <td style="width: 400px; height:200px;  margin:2px; font-size:60px;" class ="btn btn-danger">	D : <br>{{ question.rep4 }} </td>
	</tr>		
			
	</table>
		
	  
<br><br><div align="right">

<br><br><div align="right">

<a href="{{ path('oc_launch_score', {'gamepin' : gamepin.id, 'idq': idq}) }}" class="btn btn-primary btn-lg">Scores  </a>
</div>


{% endblock %}
{% block customPageScripts  %}
<script type="text/javascript" src="{{ '/js/jquery-countdown-timer-control.js' }}"></script>
<script>
    $(function(){
        //default
        //without control
        var timer0=$('.timer0').startTimer({
            onComplete: function(element){console.log('Complete');}
            //,onPause: $('.timerpause'), //optional, pause control
            //onReset: $('.timerreset'), //optional, reset control
            //onStart: $('.timerstart') //optional, start control
            //loop: true, //optional, enable loop
            //loopInterval: 2 //optional
        });
        timer0.trigger('start'); //optional, use to start without control button
    })
</script> 
{% endblock %} 