
{% extends "/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{%  block navigation %}
{% endblock %}
{% block body %}

<h2>Résultats du quiz "{{ gamepin.quiz.nom }}" :</h2>
{% for pseudo, total in pointsTot %}
        <li>{{pseudo}} : {{total.pointqx}} points</li>
    {% endfor %}

          <nav class="nav">
          <a class="nav-link" href="{{ path('oc_quizdis_select') }}">Answer a quiz</a>
          <a class="nav-link" href="{{ path('oc_quizgen_list') }}">Public quizes</a>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a class="nav-link" href="{{ path('oc_quizgen_mylist') }}">My quizes</a>
          {% endif %}
          <a class="nav-link" href="{{ path('oc_quizgen_add') }}">New quiz</a>
        </nav>
{% endblock %}
