{% extends "layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<h2>Bonne(s) réponse(s) : {% for lettre in reponsesJustes %} {{ lettre }} {% endfor %}</h2>
<h2>Scores</h2>

<ul id="navigation">
	{% for pseudo, total in pointsTotaux %}
		<li>{{pseudo}} : {{total.pointqx}} points</li>
	{% endfor %}
</ul>

<br><br><div align="right">
<a href="{{ path('oc_launch_question', {'gamepin' : gamepin.id, 'idq': idq+1}) }}" class="btn btn-default btn-lg">Question suivante   <i class="glyphicon glyphicon-chevron-right"></i></a>
</div>

{% endblock %}
